{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "babel",
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-use-before-define": 0,
    "arrow-parens": [2, "always"],
    "no-mixed-operators": [2, { "allowSamePrecedence": true }],
  }
}
